@mixin hover-effect {
  &:hover {
    background-color: #589CFE;
    color: white;
    cursor: pointer;
  }
}
%box-img {
  height: 35px;
  width: 35px;
  border-radius: 5px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 0 10px;
}
.box1,
.box2,
.box3,
.box4 {
    flex: 1;
    height: 160px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    
    @include hover-effect;
}
.selectable-box {
    cursor: pointer;
    transition: background 0.2s;
}
    .selectable-box:hover,
    .selectable-box.selected {
    background:#589cfe;
    color: white;
    cursor: pointer;
}
.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin: 30px 10px;
}
.box5,
.box6 {
    flex: 1;
    height: 520px;
    background-color: white;
    border-radius: 8px;
}
.box5{
    flex-grow: 2;
}
.box6{
    width: 420px;
}
.box1 img {
  @extend %box-img;
  background-color: #FFDE83;
}
.box2 img {
  @extend %box-img;
  background-color: #B9F0CF;
}
.box3 img {
  @extend %box-img;
  background-color: #FCB6E4;
}
.box4 img {
  @extend %box-img;
  background-color: #95E9DF;
}
h2{
    font-size: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 0;
}
p{
    margin: 6px 0 0 0;
}
.p-bottom{
    color: #989898;
}
.box-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
}
.box-header div{
    font-size: 24px;
    padding: 20px 15px;
    font-weight: bold;
}
.grow {
    flex-grow: 2;
}
.box-body1{
    display: flex;
    padding: 0;
    background-color: #F5F7F9;
    margin: 0 20px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 0.1s;
    &:hover{
        border-color: #7669A0;
        border-radius: 8px;
        cursor: pointer;
    }
}
.box-body1 div{
    font-size: 24px;
    padding: 25px 15px;
}
.box-body{
    display: flex;
    padding: 0;
    background-color: #F5F7F9;
    margin: 15px 20px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 0.1s;
    &:hover{
        border-color: #7669A0;
        border-radius: 8px;
        cursor: pointer;
    }
}
.box-body div{
    font-size: 24px;
    padding: 25px 15px;
}
.adjust{
    display: inline-flex;
    gap: 20px;
}
.active{
    color: #60B638;
    font-weight: 500;
}
.box-body1 img{
    height: 60px;
    width: 60px;
    border-radius: 8px;
    align-self: center;
    margin-right: 15px;
}
.box-body img{
    height: 60px;
    width: 60px;
    border-radius: 8px;
    align-self: center;
    margin-right: 15px;
}
.d{
    margin-right: 50px;
}
.box1:hover .p-bottom,
.box2:hover .p-bottom,
.box3:hover .p-bottom,
.box4:hover .p-bottom,
.box1.selected .p-bottom,
.box2.selected .p-bottom,
.box3.selected .p-bottom,
.box4.selected .p-bottom {
    color: white;
}
.box1:hover img,
.box2:hover img,
.box3:hover img,
.box4:hover img,
.box1.selected img,
.box2.selected img,
.box3.selected img,
.box4.selected img {
    background-color: #87B5FF;
}
.box6 h3{
    margin-left: 25px;
    font-size: 22px;
}
.box6-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box6-flex p{
    font-size: 20px;
    color: #989898;
    margin: 0 5px;
}
.total-sells, .total-views{
    height: 30px;
    width: 30px;
    border-radius: 7px;
}
.total-sells{
    background-color: #39A0A2;
}
.total-views{
    background-color: #549CFF;
}
.padding-right{
    padding-right: 50px;
}
.graph{
  padding: 10px 0 0 20px;
}
@media (max-width: 1330px) {
    .container2 {
        flex-direction: column;
    }
}
@media (max-width: 1180px) {
    .container {
        flex-direction: column;
    }
}









