@use 'variables' as v;

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border: 1px solid v.$third-color;
    height: 35px;
    background-color: white;
}
.search-container {
  margin-left: auto;
  display: flex;
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 7px;
  background-color: #F8F8F8;
  overflow: hidden;
  position: relative;
}
#search-bar {
  flex-grow: 1;
  padding: 10px 15px;
  border: none;
  background-color: #F5F5F5;
  font-size: 16px;
  outline: none;
  padding-left: 48px;

  #search-bar::placeholder {
    color: v.$third-color;
}

}
#search-button {
  background-color: #333D47;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px
}
#search-button:hover {
    background-color: v.$fourth-color;
}
.search-icon {
    position: absolute;
    left: 16px;
    top:8px;
    pointer-events: none;
    z-index: 1;
    color: v.$third-color;
}