@use 'variables'as v;
@use 'containers';
@use 'header';
@use 'navigation';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: v.$font-stack;
  background-color: v.$secondary-color;
}
.right-side {
    display: flex;
    flex-direction: column;
    padding: 20px;
    // border: 1px solid rgba(10, 10, 10,);
    width: calc(100% - 100px);
}
.main-content {
  flex: 1;
  padding: 24px;
  color: v.$primary-color;
  background-color: v.$secondary-color;
}
h1{
  color: v.$header-color;
  margin: 10px 10px;
}